<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>com.controller.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCustomerController</servlet-name>
  	<display-name>AddCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransactionController</servlet-name>
  	<display-name>TransactionController</display-name>
  	<description></description>
  	<servlet-class>com.controller.TransactionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBalanceController</servlet-name>
  	<display-name>AddBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MainCustomer</servlet-name>
  	<display-name>MainCustomer</display-name>
  	<description></description>
  	<servlet-class>com.controller.MainCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NetBankingController</servlet-name>
  	<display-name>NetBankingController</display-name>
  	<description></description>
  	<servlet-class>com.controller.NetBankingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IndexController</servlet-name>
  	<display-name>IndexController</display-name>
  	<description></description>
  	<servlet-class>com.controller.IndexController</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCustomerController</servlet-name>
  	<url-pattern>/AddCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransactionController</servlet-name>
  	<url-pattern>/TransactionController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBalanceController</servlet-name>
  	<url-pattern>/AddBalanceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MainCustomer</servlet-name>
  	<url-pattern>/MainCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NetBankingController</servlet-name>
  	<url-pattern>/NetBankingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexController</servlet-name>
  	<url-pattern>/IndexController</url-pattern>
  </servlet-mapping>

</web-app>
